NAVER_CLIENT_ID=YOUR_NAVER_CLIENT_ID
NAVER_CLIENT_SECRET=YOUR_NAVER_CLIENT_SECRET
KAKAO_REST_API_KEY=YOUR_KAKAO_REST_API_KEY
KAKAO_CLIENT_SECRET=YOUR_KAKAO_CLIENT_SECRET
KAKAO_ACCESS_TOKEN=YOUR_KAKAO_ACCESS_TOKEN
KAKAO_REFRESH_TOKEN=YOUR_KAKAO_REFRESH_TOKEN
